<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--1-->
		<add name="NameOfDatabase"
			 connectionString="preCourse2"
			 />
		<add name="DefaultConnection"
			 connectionString="Server=localhost;Database=preCourse2;Trusted_Connection=True;"/>
		<!--2-->
	</connectionStrings>
</configuration>