<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--1-->
		<add name="DefaultConnection"
			 connectionString="Server=localhost;Database=preCourse2;Trusted_Connection=True;"/>
		<!--2-->
		<add name="DefaultConnection_DatabaseName"
			 connectionString="preCourse2"/>
	</connectionStrings>
</configuration>